$offwhite:		#f2f2f2;
$white:			#fff;
$light-gray:	#E6E6E6;

.red 		{background-color: #ef473a !important}
.yellow 	{background-color: #ffc900 !important}
.blue	 	{background-color: #387ef5 !important}
.green	 	{background-color: #33cd5f !important}

.waves-effect.waves-blue .waves-ripple {
 /* The alpha value allows the text and background color
 of the button to still show through. */
  background-color: #387ef5;
}


@mixin shadow($level: 1) {
  @if $level == 1 {box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);} 
  @else if $level == 2 {box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);}
  @else if $level == 3 {box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);}
  @else if $level == 4 {box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);}
  @else if $level == 5 {box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);}
}

.menu-content {
	background: $offwhite;
}

.bar {

	border: none;
}

.scroll-content {
	background: #222;

	.item {
		background: #292929;
		border: 1px solid #333;
		color: $white;

		input {
			color: $white;
		}

		.item-content {
			background: #292929;
			color: $offwhite;

			.icon {
				font-size: 1.3em;
				color: #ccc;
			}
		}
	}
}

main {
	background: $offwhite;

	.row {
		display: inline-block;

		article {
			float:left;
			padding: 7px;
			width: 50%;
			margin: 5px 0;
			min-height: 250px;

			.item {
				background: $white;
				padding: 0;
				border: 0;
				overflow: hidden;
				-webkit-transition: all 250ms;
		        -moz-transition: all 250ms;
		        transition: all 250ms;
		        @include shadow(1);

				&:hover, &:active {
					@include shadow(3);
				}

				.item-image {
					overflow: hidden;

					img {
						z-index: -1;
						overflow: hidden;
						margin: 0 auto;
						min-width: 420px;
					    height: auto;
					}
				}
			}

			header, footer {
				padding: 10px;
				float:left;
				position: absolute;
			}

			header {
				z-index: 2;
				bottom: 60px;
				max-width: 70%;
				max-height: 85px;
				overflow: hidden;

				a {
					font-style: none;
					text-decoration: none;
				}

				h4 {
					background: $calm;
					display: inline-block;
					margin: 0;
					padding: 5px;
					border-radius: 3px;
					color: $white;
					text-transform: uppercase;
					font-size: .7em;
					font-weight: bold;
				}

				h1 {
					color: $white;
					text-shadow: 1px 1px 1px rgba(0,0,0,0.4);
					font-weight: bold;
					font-size: 1.2em;
					margin-top: 5px;
				}
			}

			footer {
				bottom: 0;

				a {
					text-transform: uppercase;
					font-size: .7em;
					color: $light-gray;
					padding: 5px;
					line-height: 0;

					.icon {
						color: $white;
						padding: 5px;
					}		
				}
			}
		}
	}
}