<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
     
    <script src="lib/ngstorage/ngStorage.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/waves.js"></script>
  </head>
  <body ng-app="blog" ng-controller="tjunaCtrl">
    <ion-side-menus>
    
    <!-- Center content -->
    <ion-side-menu-content>
    <ion-header-bar class="bar-assertive">
    <button menu-toggle="left" class="button"><i class="icon ion-navicon-round"></i></button>
    <h1 class="title">Articles</h1>
    <button class="button" ng-click="newArticleOpen()">  <i class="icon ion-android-create"></i></button>
    <button class="button"><i class="icon ion-android-more-vertical"></i></button>
    </ion-header-bar>
    <ion-content>
    <main>
    <!-- our list and list items -->
    <div class="row">
      <article ng-repeat="article in articles">
        <div class="item item-text-wrap">
    
          <div class="item-image waves-effect waves-{{article.color}}">
            <img src="{{article.image}}">
          </div>
          
          <header>

            <h4 class="{{article.color}}">{{article.category}}</h4>
            <a href="#" class="waves-effect waves-{{article.color}}">
            <h1>{{article.title}}</h1>
          </a>
          </header>
          <footer>
            <a href="#" class="subdued waves-effect waves-light"><span class="icon ion-android-time"></span>{{article.time}}</a>
            <a href="#" class="subdued waves-effect waves-light"><span class="icon ion-chatbubble-working"></span>{{article.comments}}</a>
          </footer>
          
        </div>
      </article>
    </div>
    </main>
    </ion-content>
    </ion-side-menu-content>
    <!-- Left menu -->
    <ion-side-menu side="left">
      <ion-header-bar class="bar-assertive">
        <h1 class="title">Notes</h1>
      </ion-header-bar>
      <ion-content>
        <ion-list>
          <ion-item>
          <div class="list">
          <label class="item-input item">
            <input id="newNote" type="text" placeholder="Add a note" ng-model="newThing">
          </label>
          
          <button class="button button-block button-positive" ng-click="add(newThing)">
            <i class="icon ion-android-add-circle"></i> Add
          </button>
          </div>
          </ion-item>
        </ion-list>
        <ion-list show-delete="false" can-swipe="true">
       <ion-item ng-repeat="thing in things">
          <i class="icon ion-android-bulb padding"></i>{{thing}}
       <ion-option-button class="button-assertive ion-trash-b" ng-click="remove(thing)"></ion-option-button>
       </ion-item>
     </ion-list>
      </ion-content>
    </ion-side-menu>
  </ion-side-menus></body>
</html>