<ion-modal-view>

    <!-- Modal header bar -->
    <ion-header-bar class="bar-assertive">
      <h1 class="title">New Article</h1>
      <button class="button icon ion-close-round" ng-click="closeNewArticle()"></button>
    </ion-header-bar>

    <!-- Modal content area -->
    <ion-content>

      <form ng-submit="createArticle(article)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What is the title?" ng-model="article.title">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="What category?" ng-model="article.category">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="What color?" ng-model="article.color">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="What is the time?" ng-model="article.time">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Number of comments" ng-model="article.comments">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="The path to an image" ng-model="article.image">
          </label>
        </div>

          <button type="submit" class="button button-block button-assertive pull-right">Create Article</button>
      </form>

    </ion-content>

  </ion-modal-view>


